<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Créer héros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body th:bgcolor="EAEDED">
<h1 style="padding: 5rem 5rem" class='display-create'> Créer votre héros </h1>
<div class="mb-3 " style="margin: auto; width: 500px; padding: 2rem; border-radius: 15px ;display: flex; justify-content: center; align-items: center">
    <form style=" display: flex; justify-content: center; align-items: center ;flex-direction: column; "
          role="form"
          method="post"
          th:action="@{/menu}"
          th:object="${fillHero}">

        <label  class="form-label"><strong>Nom</strong></label>
        <input class="form-control" type="text" name="nom" th:field = "*{name}"/>
        <br/>
        <label class="form-label"><strong>Type</strong></label>
        <input class="form-control"type="text" name="type" th:field = "*{type}"/>
        <br/>
        <label class="form-label"><strong>Force d'attaque</strong></label>
        <input class="form-control" type="text" name="force_attaque" th:field = "*{strength}"/>
        <br/>
        <label class="form-label"><strong>Points de vie</strong></label>
        <input class="form-control" type="text" name="point_de_vie" th:field = "*{life}"/>
        <br/>

        <button class="btn btn-primary" type="submit"  style=""><strong>Créer</strong></button>
    </form>
</div>

</body>
</html>